.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.form-container {
  width: 100%;
  background-color: rgb(221, 221, 221);
  padding: 2rem;
  box-sizing: border-box;
  margin-left: auto;
}

.text-box img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
