<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1 style="color:cornflowerblue;"> All Schedules </h1>
   <!-- Display all of my schedules-->
   <% for (let i =0; i < schedules.length; i++) { %> 
    <p>
       <%= schedules[i].day %> <br>
       <%= schedules[i].start_at %> <br>
       <%= schedules[i].end_at %> <br>
    </p>
    <% } %>
</body>
</html>